body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/table.png);
    background-size: cover;
    text-align: center;
    font-size: 2.2em;
    color: #F1F1F2;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}